In [5]:
d = {}
n = int(input("enter a value:"))
for i in range(n):
    keys = input() 
    values = int(input())
    if(len(keys)<=6 and values%2==0):
        d[keys] = values
print(d)

enter a value:3
ram
2
shyam
4
raj
7
{'ram': 2, 'shyam': 4}

In [8]:
Report = {1: {'name': 'Srajan', 'Roll_NO': '170'},
          2: {'Marks 1': '35', 'Marks 2': '35' ,'Marks 3': '35' }}

print(Report)

{1: {'name': 'Srajan', 'Roll_NO': '170'}, 2: {'Marks 1': '35', 'Marks 2': '35', 'Marks 3': '35'}}

In [11]:
d = {}
n = int(input("enter a value:"))
for i in range(n):
    keys = input() 
    values = int(input())
    d[keys] = values
print(d)     
d.popitem()
print(d) # 1st method
d.clear()
print(d) # 2nd method
del d
print(d) # 3rd method

enter a value:3
ram
11
shyam
12
raj
13
{'ram': 11, 'shyam': 12, 'raj': 13}
{'ram': 11, 'shyam': 12}
{}

NameError: name 'd' is not defined

In [19]:

l1 = ['my', 'name', 'is', 'srajan'] 
l2 = [6, 0, 4, 1] 
l1.append(l2) # 1st method
print (l1) 
l1.extend(l2) # 2nd method
print(l1)
l1.insert(7,9) # 3rd method
print(l1)

['my', 'name', 'is', 'srajan', [6, 0, 4, 1]]
['my', 'name', 'is', 'srajan', [6, 0, 4, 1], 6, 0, 4, 1]
['my', 'name', 'is', 'srajan', [6, 0, 4, 1], 6, 0, 9, 4, 1]

In [36]:
def reversing(l):
    l5=[]
    for i in range(len(l)-1,-1,-1):
        l5.append(l[i])
    return l5    
def sum(l):
    cnt=0
    n=len(l)
    for i in range(1,n):
        cnt=cnt+l[i]
    return cnt   
l = [10, 11, 12, 13, 14, 15] 
print(reversing(l))
print(sum(l))

[15, 14, 13, 12, 11, 10]
65